{% extends 'blog/base.html' %}
{% block title %}
Edit {{user.username}} Profile
{% endblock title %}
{% block content %}

<form action="" method="post">
    {% csrf_token%}
    <label  for="username">Username</label>
    <input id="username" type="text" name="username" value="{{user.username}}">
    <label  for="firstName">First Name</label>
    <input id="firstName" type="text" name="firstname" value="{{user.first_name}}">
    <label  for="lastName">Last Name</label>
    <input id="lastName" type="text" name="lastname" value="{{user.last_name}}">
    <label  for="email">Email</label>
    <input id="email" type="text" name="email" value="{{user.email}}">

    <input type="submit" value="Update">
</form>
{% endblock content %}